<!DOCTYPE html>
<html>
  <head>
    <title>Department</title>
    <link rel="stylesheet" type="text/css" href="/css/department/main_department.css">
  </head>
  <body>
    <h1>Department</h1>
    <ul>
      {{#each departments}}
        <a href="/departments/{{_id}}">
          <li>{{name}}</li>
        </a>
      {{/each}}
    </ul>
     <a href="/departments/create"><button id="edit-btn" >Add</button></a>
  </body>
</html>